<footer>
    <div class="license">
        <p>
            Copyright &copy; {{ site.time | date: '%Y' }} Shawnie Imbert and Wichita State University
            <br>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons BY-SA" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"></a>
           <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
               Creative Commons Attribution-ShareAlike 4.0 International License
           </a>.</span>
        </p>
    </div>
</footer>
